<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">了解Shiro</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;Shiro</h3>
        <ul shiro:hasPermission="sys:menu:add">
            <li >该用户对于系统又增添按钮的权限</li>
        </ul>
        <h3 >&nbsp;&nbsp;&nbsp;</h3>
        <ul shiro:hasPermission="sys:menu:show">
            <li>该用户可以获取展示按钮的权限</li>
        </ul>
        <ul>
            <li><a href="https://github.com/liuiuh/shiro">查看github代码示例</a></li>
        </ul>
        <ul>
            <li shiro:hasRole="admin">admin角色都可见</li>
        </ul>
        <ul>
            <li shiro:hasRole="user">user角色都可见</li>
        </ul>
        <ul>
            <li>所有用户都可见</li>
        </ul>
        <ul>
            <li><a href="/logout">安全退出</a>
        </ul>

    </div>
</div>
</body>
</html>